<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSC.EWSSendMail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
    <add key="EWSuser" value="ewsaccount@testdomain.onmicrosoft.com" />
    <add key="EWSpassword" value="p@ssW0RD" />
    <add key="EWSsendAsUser" value="ewsaccount@testdomain.onmicrosoft.com" />
    <add key="SaveCopyInSentItems" value="no" />
  </appSettings>
  
  <userSettings>
    <DSC.EWSSendMail.Properties.Settings>
      <setting name="MsgBody" serializeAs="String">
        <value>Hello, ###recipientName###! This is a test email. ###var1###</value>
      </setting>
      <setting name="MsgSubject" serializeAs="String">
        <value>test email</value>
      </setting>
    </DSC.EWSSendMail.Properties.Settings>
  </userSettings>
  
</configuration>